prepare/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Unified SAM template defining downloader/updater Lambdas + AWS Step Functions (Express) workflow with SQS and Lambda

Parameters:
  EnvironmentName:
    Description: An environment name that is prefixed to resource names
    Type: String
    Default: MWAAEnvironment

  WorkflowQueueName:
    Description: Name for the Step Functions SQS trigger queue
    Type: String
    Default: elephant-workflow-queue
  WorkflowStarterReservedConcurrency:
    Description: Max concurrent SQS messages to process via EventSourceMapping ScalingConfig
    Type: Number
    Default: 100
  WorkflowStateMachineName:
    Description: Name for the Express Step Functions state machine
    Type: String
    Default: ElephantExpressWorkflow
  CsvChunkSize:
    Description: Number of rows per CSV chunk when splitting output
    Type: Number
    Default: 100
    MinValue: 1
    MaxValue: 10000


Globals:
  Function:
    Runtime: nodejs22.x
    Timeout: 300
    Tracing: Active

Resources:
  #####################################################################################################################
  # EnvironmentBucket
  #####################################################################################################################

  # Input bucket for CSV files that trigger the workflow
  InputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-input-${AWS::AccountId}"
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # Processing bucket for outputs, chunks, and results
  EnvironmentBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${AWS::StackName}-processing-${AWS::AccountId}"
      LifecycleConfiguration:
        Rules:
          - Id: DeleteOutputs
            Status: Enabled
            ExpirationInDays: 14
            Prefix: outputs/
          - Id: DeleteResults
            Status: Enabled
            ExpirationInDays: 30
            Prefix: results/
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  # EnvironmentBucketPolicy:
  #   Type: AWS::S3::BucketPolicy  
  #   Properties:
  #     Bucket: !Ref EnvironmentBucket
  #     PolicyDocument:
  #       Version: "2012-10-17"
  #       Statement:
  #         # No longer needed - lambdas use IAM roles for S3 access
  #         - Sid: AllowSSLRequestsOnly
  #           Effect: Deny
  #           Principal: "*"
  #           Action: "s3:*"
  #           Resource:
  #             - !GetAtt EnvironmentBucket.Arn
  #             - !Sub "${EnvironmentBucket.Arn}/*"
  #           Condition:
  #             Bool:
  #               "aws:SecureTransport": "false"

  #####################################################################################################################
  # SQS (DLQ + primary) + QueuePolicy for S3 events
  #####################################################################################################################

  MwaaDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 300
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  MwaaSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 300
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt MwaaDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  MwaaSqsQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      Queues:
        - !Ref MwaaSqsQueue
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: AllowS3ToSendMessage
            Effect: Allow
            Principal:
              Service: s3.amazonaws.com
            Action:
              - sqs:SendMessage
            Resource: !GetAtt MwaaSqsQueue.Arn

  #####################################################################################################################
  # Serverless Functions
  #####################################################################################################################

  #####################################################################################################################
  # SQS (Workflow queue + DLQ for Step Functions trigger)
  #####################################################################################################################

  WorkflowDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 331
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  WorkflowSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Ref WorkflowQueueName
      VisibilityTimeout: 331
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt WorkflowDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName


  # SQS Queue for CSV chunk processing
  ChunkProcessingDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600
      VisibilityTimeout: 331
      SqsManagedSseEnabled: true
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  ChunkProcessingSqsQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub "${AWS::StackName}-chunk-processing-queue"
      VisibilityTimeout: 331
      MessageRetentionPeriod: 1209600
      SqsManagedSseEnabled: true
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt ChunkProcessingDeadLetterQueue.Arn
        maxReceiveCount: 3
      Tags:
        - Key: Environment
          Value: !Ref EnvironmentName

  #####################################################################################################################
  # Workflow Lambdas (PreparePermits and PreparePermitPages)
  #####################################################################################################################


  PreparePermitsFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - x86_64
      MemorySize: 1024
      Timeout: 300
      EphemeralStorage:
        Size: 1024
      CodeUri: ../workflow/lambdas/prepare-permits
      Handler: index.handler
      Description: "Runs elephant-cli prepare-permits command with today's date"
      Policies:
        - AWSLambdaBasicExecutionRole
        - S3CrudPolicy:
            BucketName: !Ref InputBucket
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - sqs:SendMessage
              Resource: !GetAtt ChunkProcessingSqsQueue.Arn
      Environment:
        Variables:
          PORTAL_ZIP_S3_URI: !Sub "s3://${EnvironmentBucket}/portal.zip"
          CHUNK_SQS_QUEUE_URL: !Ref ChunkProcessingSqsQueue
          CSV_CHUNK_SIZE: !Ref CsvChunkSize

  PreparePermitPagesFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - x86_64
      MemorySize: 512
      Timeout: 300
      EphemeralStorage:
        Size: 1024
      CodeUri: ../workflow/lambdas/prepare-permit-pages
      Handler: index.handler
      Description: "Runs elephant-cli prepare-permit-pages command on individual CSV chunks"
      Policies:
        - AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - S3CrudPolicy:
            BucketName: !Ref EnvironmentBucket
      Events:
        SqsEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt ChunkProcessingSqsQueue.Arn
            BatchSize: 1

  WorkflowStarterFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - x86_64
      MemorySize: 128
      Timeout: 330
      CodeUri: ../workflow/lambdas/starter
      Handler: index.handler
      Description: "S3/SQS-triggered starter that sync-starts the Express state machine"
      Policies:
        - AWSLambdaBasicExecutionRole
        - S3CrudPolicy:
            BucketName: !Ref InputBucket
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${WorkflowStateMachineName}"
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${WorkflowStateMachineName}"
          INPUT_BUCKET_NAME: !Ref InputBucket
      # Note: S3 events will be configured via custom resource to avoid circular dependency
      # Events:
      #   S3Event:
      #     Type: S3
      #     Properties:
      #       Bucket: !Ref InputBucket
      #       Events: s3:ObjectCreated:*
      #       Filter:
      #         S3Key:
      #           Rules:
      #             - Name: suffix
      #               Value: .csv
      # SqsEvent:
      #   Type: SQS
      #   Properties:
      #     Queue: !GetAtt WorkflowSqsQueue.Arn
      #     BatchSize: 1
      #     MaximumBatchingWindowInSeconds: 0
      #     ScalingConfig:
      #       MaximumConcurrency: !Ref WorkflowStarterReservedConcurrency

  # Note: S3 bucket notifications will need to be configured manually
  # after deployment to avoid circular dependencies
  # 
  # To configure manually after deployment:
  # aws s3api put-bucket-notification-configuration \
  #   --bucket YOUR_INPUT_BUCKET_NAME \
  #   --notification-configuration file://notification.json
  #
  # Where notification.json contains:
  # {
  #   "LambdaFunctionConfigurations": [
  #     {
  #       "Id": "csv-upload-trigger",
  #       "LambdaFunctionArn": "YOUR_WORKFLOW_STARTER_FUNCTION_ARN",
  #       "Events": ["s3:ObjectCreated:*"],
  #       "Filter": {
  #         "Key": {
  #           "FilterRules": [
  #             {"Name": "suffix", "Value": ".csv"}
  #           ]
  #         }
  #       }
  #     }
  #   ]
  # }

  # Lambda permission for S3 to invoke WorkflowStarterFunction
  WorkflowStarterFunctionS3InvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref WorkflowStarterFunction
      Action: lambda:InvokeFunction
      Principal: s3.amazonaws.com
      SourceArn: !GetAtt InputBucket.Arn



  #####################################################################################################################
  # Express Step Functions State Machine (separate definition file)
  #####################################################################################################################

  ElephantExpressStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Ref WorkflowStateMachineName
      Type: EXPRESS
      DefinitionUri: ../workflow/state-machines/elephant-express.asl.yaml
      DefinitionSubstitutions:
        PreparePermitsFunction: !GetAtt PreparePermitsFunction.Arn
      Role: !GetAtt ElephantExpressStateMachineRole.Arn
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt ElephantExpressLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      Tracing:
        Enabled: true

  ElephantExpressLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/vendedlogs/states/${WorkflowStateMachineName}"
      RetentionInDays: 14

  ElephantExpressStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/service-role/"
      Policies:
        - PolicyName: ElephantExpressInline
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt PreparePermitsFunction.Arn
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource:
                  - !GetAtt WorkflowSqsQueue.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  # Permit Pages Express Step Function (for processing CSV chunks)
  PermitPagesExpressStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub "${AWS::StackName}-PermitPagesExpress"
      Type: EXPRESS
      DefinitionUri: ../workflow/state-machines/permit-pages-express.asl.yaml
      DefinitionSubstitutions:
        PreparePermitPagesFunction: !GetAtt PreparePermitPagesFunction.Arn
      Role: !GetAtt PermitPagesExpressStateMachineRole.Arn
      Logging:
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt PermitPagesExpressLogGroup.Arn
        IncludeExecutionData: true
        Level: ALL
      Tracing:
        Enabled: true

  PermitPagesExpressLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/vendedlogs/states/${AWS::StackName}-PermitPagesExpress"
      RetentionInDays: 14

  PermitPagesExpressStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/service-role/"
      Policies:
        - PolicyName: PermitPagesExpressInline
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt PreparePermitPagesFunction.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogDelivery
                  - logs:GetLogDelivery
                  - logs:UpdateLogDelivery
                  - logs:DeleteLogDelivery
                  - logs:ListLogDeliveries
                  - logs:PutResourcePolicy
                  - logs:DescribeResourcePolicies
                  - logs:DescribeLogGroups
                Resource: "*"

  # Step Function Starter for Permit Pages Express (triggered by SQS)
  PermitPagesStarterFunction:
    Type: AWS::Serverless::Function
    Properties:
      Architectures:
        - x86_64
      MemorySize: 128
      Timeout: 330
      CodeUri: ../workflow/lambdas/starter
      Handler: index.handler
      Description: "SQS-triggered starter for PermitPages Express state machine"
      Policies:
        - AWSLambdaBasicExecutionRole
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - states:StartSyncExecution
              Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-PermitPagesExpress"
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-PermitPagesExpress"
      Events:
        SqsEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt ChunkProcessingSqsQueue.Arn
            BatchSize: 1
            MaximumBatchingWindowInSeconds: 0
            ScalingConfig:
              MaximumConcurrency: 50

  #####################################################################################################################
  # Step Function for S3 to SQS processing
  #####################################################################################################################

  StepFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Path: "/service-role/"
      Policies:
        - PolicyName: StepFunctionS3SqsPolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - s3:ListBucket
                  - s3:GetObject
                Resource:
                  - !GetAtt EnvironmentBucket.Arn
                  - !Sub "${EnvironmentBucket.Arn}/*"
              - Effect: Allow
                Action:
                  - s3:ListBucket
                Resource: "*"
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                  - sqs:GetQueueUrl
                Resource:
                  - !GetAtt MwaaSqsQueue.Arn
                  - !GetAtt WorkflowSqsQueue.Arn
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${AWS::StackName}-*"
              # Required for states:startExecution.sync to create the managed EventBridge rule
              - Effect: Allow
                Action:
                  - events:PutRule
                  - events:PutTargets
                  - events:DescribeRule
                  - events:DeleteRule
                  - events:RemoveTargets
                Resource:
                  - !Sub "arn:aws:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule"

  # Child state machine: processes a single page starting after a given key and maps to SQS
  S3PageProcessorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-S3PageProcessor"
      RoleArn: !GetAtt StepFunctionRole.Arn
      DefinitionString: |
        {
          "Comment": "Process one S3 page (MaxKeys=1000) starting after StartAfter and send SQS messages",
          "StartAt": "BranchList",
          "States": {
            "BranchList": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.continuationToken", "IsPresent": true, "Next": "ListPageWithToken" },
                { "Variable": "$.startAfter", "IsPresent": true, "Next": "ListPageWithStartAfter" }
              ],
              "Default": "ListPageNoStartAfter"
            },
            "ListPageWithToken": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000,
                "ContinuationToken.$": "$.continuationToken"
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "ReturnEmpty" }
              ]
            },
            "ListPageNoStartAfter": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                {
                  "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.errorInfo",
                  "Next": "ReturnEmpty"
                }
              ]
            },
            "ListPageWithStartAfter": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
              "Parameters": {
                "Bucket.$": "$.bucketName",
                "MaxKeys": 1000,
                "StartAfter.$": "$.startAfter"
              },
              "ResultPath": "$.list",
              "Next": "ProcessOrDone",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed", "S3.NoSuchBucket", "S3.AccessDenied"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "ReturnEmpty" }
              ]
            },
            "ProcessOrDone": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.list.Contents",
                  "IsPresent": true,
                  "Next": "MapObjects"
                }
              ],
              "Default": "ReturnEmpty"
            },
            "MapObjects": {
              "Type": "Map",
              "MaxConcurrency": 0,
              "ItemsPath": "$.list.Contents",
              "Iterator": {
                "StartAt": "CreateMessage",
                "States": {
                  "CreateMessage": {
                    "Type": "Pass",
                    "Parameters": {
                      "s3": {
                        "bucket": { "name.$": "$$.Execution.Input.bucketName" },
                        "object": { "key.$": "$.Key" }
                      }
                    },
                    "ResultPath": "$.message",
                    "Next": "SendToSQS"
                  },
                  "SendToSQS": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::sqs:sendMessage",
                    "Parameters": {
                      "QueueUrl.$": "$$.Execution.Input.sqsQueueUrl",
                      "MessageBody.$": "States.JsonToString($.message)"
                    },
                    "ResultPath": "$.sqsResult",
                    "Next": "Success",
                    "Retry": [
                      {
                        "ErrorEquals": ["States.TaskFailed", "SQS.QueueDoesNotExist", "SQS.InvalidMessageContents"],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2.0
                      },
                      { "ErrorEquals": ["States.Timeout"], "IntervalSeconds": 3, "MaxAttempts": 2, "BackoffRate": 1.5 }
                    ],
                    "Catch": [
                      { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "LogError" }
                    ]
                  },
                  "LogError": { "Type": "Pass", "Result": { "status": "error" }, "End": true },
                  "Success": { "Type": "Pass", "Result": { "status": "processed" }, "End": true }
                }
              },
              "ResultPath": "$.processed",
              "Next": "ReturnResult",
              "Catch": [
                { "ErrorEquals": ["States.TaskFailed", "States.MapRunFailed"], "ResultPath": "$.mapError", "Next": "ReturnResult" }
              ]
            },
            "ReturnEmpty": {
              "Type": "Pass",
              "Result": { "nextToken": null, "count": 0, "isTruncated": false },
              "End": true
            },
            "ReturnResult": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.list.NextContinuationToken",
                  "IsPresent": true,
                  "Next": "ReturnWithToken"
                }
              ],
              "Default": "ReturnWithoutToken"
            },
            "ReturnWithToken": {
              "Type": "Pass",
              "Parameters": {
                "nextToken.$": "$.list.NextContinuationToken",
                "count.$": "States.ArrayLength($.list.Contents)",
                "isTruncated.$": "$.list.IsTruncated"
              },
              "End": true
            },
            "ReturnWithoutToken": {
              "Type": "Pass",
              "Parameters": {
                "nextToken": null,
                "count.$": "States.ArrayLength($.list.Contents)",
                "isTruncated.$": "$.list.IsTruncated"
              },
              "End": true
            }
          }
        }

  # Parent/orchestrator state machine: loops child calls and recurses near history limit
  S3ToSqsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${AWS::StackName}-S3ToSqsProcessor"
      RoleArn: !GetAtt StepFunctionRole.Arn
      DefinitionSubstitutions:
        S3PageProcessorStateMachine: !Ref S3PageProcessorStateMachine
      DefinitionString: |
        {
          "Comment": "Orchestrate S3 pagination by invoking child per page; recurse at ~24.5k iterations",
          "StartAt": "InitBranch",
          "States": {
            "InitBranch": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.continuationToken", "IsPresent": true, "Next": "InitWithToken" }
              ],
              "Default": "InitNoToken"
            },
            "InitWithToken": {
              "Type": "Pass",
              "Parameters": {
                "bucketName.$": "$.bucketName",
                "sqsQueueUrl.$": "$.sqsQueueUrl",
                "continuationToken.$": "$.continuationToken",
                "loopCount": 0
              },
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "InitNoToken": {
              "Type": "Pass",
              "Parameters": {
                "bucketName.$": "$.bucketName",
                "sqsQueueUrl.$": "$.sqsQueueUrl",
                "continuationToken": null,
                "loopCount": 0
              },
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "ProcessPage": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync",
              "Parameters": {
                "StateMachineArn": "${S3PageProcessorStateMachine}",
                "Input": {
                  "bucketName.$": "$.ctx.bucketName",
                  "sqsQueueUrl.$": "$.ctx.sqsQueueUrl",
                  "continuationToken.$": "$.ctx.continuationToken"
                }
              },
              "ResultSelector": {
                "parsed.$": "States.StringToJson($.Output)"
              },
              "ResultPath": "$.child",
              "Next": "UpdateForNext",
              "Retry": [
                { "ErrorEquals": ["States.TaskFailed"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }
              ],
              "Catch": [
                { "ErrorEquals": ["States.ALL"], "ResultPath": "$.errorInfo", "Next": "Done" }
              ]
            },
            "UpdateForNext": {
              "Type": "Pass",
              "Parameters": {
                "ctx": {
                  "bucketName.$": "$.ctx.bucketName",
                  "sqsQueueUrl.$": "$.ctx.sqsQueueUrl",
                  "continuationToken.$": "$.child.parsed.nextToken",
                  "loopCount.$": "States.MathAdd($.ctx.loopCount, 1)"
                },
                "hasMore.$": "$.child.parsed.isTruncated"
              },
              "ResultPath": "$.loop",
              "Next": "ContinueOrRecurse"
            },
            "ContinueOrRecurse": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.loop.hasMore", "BooleanEquals": true, "Next": "CheckLimit" }
              ],
              "Default": "Done"
            },
            "CheckLimit": {
              "Type": "Choice",
              "Choices": [
                { "Variable": "$.loop.ctx.loopCount", "NumericLessThan": 25, "Next": "ProcessPageFromLoop" }
              ],
              "Default": "Recurse"
            },
            "ProcessPageFromLoop": {
              "Type": "Pass",
              "InputPath": "$.loop.ctx",
              "ResultPath": "$.ctx",
              "Next": "ProcessPage"
            },
            "Recurse": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution",
              "Parameters": {
                "StateMachineArn.$": "$$.StateMachine.Id",
                "Name.$": "States.UUID()",
                "Input": {
                  "bucketName.$": "$.loop.ctx.bucketName",
                  "sqsQueueUrl.$": "$.loop.ctx.sqsQueueUrl",
                  "continuationToken.$": "$.loop.ctx.continuationToken"
                }
              },
              "ResultPath": "$.restarted",
              "Next": "Done"
            },
            "Done": { "Type": "Pass", "End": true }
          }
        }

Outputs:
  InputBucketName:
    Description: S3 Bucket for uploading CSV files to trigger the workflow
    Value: !Ref InputBucket
  InputBucketArn:
    Description: ARN of the input S3 bucket
    Value: !GetAtt InputBucket.Arn
  WorkflowStarterFunctionArn:
    Description: ARN of the WorkflowStarter Lambda function
    Value: !GetAtt WorkflowStarterFunction.Arn
  EnvironmentBucketName:
    Description: S3 Bucket for processing (outputs, results, portal.zip)
    Value: !Ref EnvironmentBucket
  MwaaSqsQueueUrl:
    Description: URL of the MWAA SQS Queue
    Value: !Ref MwaaSqsQueue
  MwaaSqsQueueArn:
    Description: ARN of the MWAA SQS Queue
    Value: !GetAtt MwaaSqsQueue.Arn
  MwaaDeadLetterQueueUrl:
    Description: URL of the MWAA Dead Letter Queue
    Value: !Ref MwaaDeadLetterQueue
  MwaaDeadLetterQueueArn:
    Description: ARN of the MWAA Dead Letter Queue
    Value: !GetAtt MwaaDeadLetterQueue.Arn
  # DownloaderFunctionArnParameterName:
  #   Description: SSM Parameter name containing DownloaderFunction ARN
  #   Value: !Ref DownloaderFunctionArnParameter
  S3ToSqsStateMachineArn:
    Description: ARN of the S3 to SQS processing Step Function
    Value: !Ref S3ToSqsStateMachine
  S3ToSqsStateMachineName:
    Description: Name of the S3 to SQS processing Step Function
    Value: !GetAtt S3ToSqsStateMachine.Name
  WorkflowQueueUrl:
    Description: URL of the workflow SQS queue (Step Functions trigger)
    Value: !Ref WorkflowSqsQueue
  WorkflowQueueArn:
    Description: ARN of the workflow SQS queue
    Value: !GetAtt WorkflowSqsQueue.Arn
  ElephantExpressStateMachineArn:
    Description: ARN of the Elephant Express state machine
    Value: !Ref ElephantExpressStateMachine
  ElephantExpressStateMachineName:
    Description: Name of the Elephant Express state machine
    Value: !GetAtt ElephantExpressStateMachine.Name
